@media (min-width: 411px) {
    .header-container h1 {
        font-size: 53px;
    }
}

@media (min-width: 740px) {
    .header-container h1 {
        font-size: 50px;
    }

    .header-container p {
        font-size: 14px;
    }

    .header-container a {
        height: 30px;
        line-height: 30px;
        width: 30%;
    }

    .portfolio-section img {
        width: 70%;
        height: 200px;
    }

    .user-info {
        height: auto;
    }
}

@media (min-width: 740px) and (orientation: landscape) {
    .header-banner-title h1 {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    .header-container h1 {
        font-size: 65px;
    }

    .header-container p {
        font-size: 20px;
    }

    .header-container a {
        font-size: 15px;
        width: 30%;
    }

    .user-info {
        height: auto;
    }

    .user-info-header-banner-user h6 {
        font-size: 16.5px;
    }

    .user-info-residence-container h5 {
        font-size: 15px;
    }

    .user-info-residence-container h6 {
        font-size: 13px;
    }

    .user-info-knowledge ul li {
        font-size: 14px;
    }

    .expertise-section span {
        font-size: 24px;
    }

    .expertise-section h6 {
        font-size: 18px;
    }

    .resume-container a {
        font-size: 13px;
    }

    .service h6 {
        font-size: 17px;
    }

    .service p {
        font-size: 14px;
    }

    .service a {
        font-size: 14px;
    }

    .portfolio-section img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .header-container h1 {
        font-size: 80px;
    }

    .header-banner-code {
        height: 30%;
    }

    .header-banner-btn {
        height: 5%;
    }

    .header-banner-btn a {
        height: 45px;
        line-height: 45px;
    }

    .user-info {
        height: auto;
    }

    .portfolio-section img {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-section form {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .header-banner-title h1 {
        font-size: 70px;
    }
}

@media (min-width: 1800px) {
    hr {
        width: 60%;
    }

    .justify-lg-end {
        justify-content: end;
    }

    #userInfoNavBarBtn {
        display: none;
    }

    #sideMenuNavBarBtn {
        display: none;
    }

    .user-info {
        position: fixed;
        width: 18vw;
        top: 0px;
        transform: translateX(290px);
        height: 100vh;
    }

    .user-info-footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .resume {
        height: 125px;
    }

    .resume-container {
        height: 90%;
        width: 85%;
        padding-top: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .user-info-btn {
        display: none;
    }

    #skill1 {
        animation: loading-90 1.8s linear forwards;
    }
    #skill2 {
        animation: loading-80 1.8s linear forwards;
    }
    #skill3 {
        animation: loading-80 1.8s linear forwards;
    }
    #skill4 {
        animation: loading-70 1.8s linear forwards;
    }
    #skill5 {
        animation: loading-60 1.8s linear forwards;
    }
    #skill6 {
        animation: loading-50 1.8s linear forwards;
    }

    .side-menu {
        width: 18vw;
        top: 0;
        transform: translate(-290px);
        overflow: hidden;
    }

    .side-menu-bar {
        background-color: var(--bg-color);
    }

    #sideMenuBtn {
        display: none;
    }

    .en-fixed {
        right: 265px;
        bottom: 60px;
    }

    .es-fixed {
        right: 265px;
        bottom: 20px;
    }

    .header-banner-title {
        width: 70%;
    }
}
